.timeLine{
	min-height: 844px;
	height: 844px;
	background: url('../images/mobile/02_ABOUTUS_TIMELINE.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}