

/* Sticky footer styles  */
html {
    position: relative;
    min-height: 100%;
    font-family: Regular !important;
}
body {
    /* Margin bottom by footer height */
  font-family: Regular !important;
  margin-bottom: 0px;
  
  font-family: 'Karla';
 /* background-color: #d3cac1;*/
  height: 100%;
  background-color: white;
  color: black;
}

@font-face {
    font-family: GothamRnd-bold;
    src: url("../assets/fonts/GothamRnd-Bold.otf");
}

@font-face {
    font-family: Karla-Bold;
    src: url("../assets/fonts/Karla-Bold.ttf");
}

@font-face {
    font-family: Regular;
    src: url("../assets/fonts/Karla-Regular.ttf");
}
h1,h2,h3,h4,h5{
   font-family: 'Karla-Bold';
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color:white;
    padding-top: 0.875rem;
    /* Set the fixed height of the footer here */
    min-height: 40px;
    background-color: #f39c12;
    margin: auto;
}

.container-fluid{
    margin: auto;
    max-width: 1064px;
}

.icon-menu-top{
  padding-right: 10px;
}

/* End Sticky footer styles  */

.navbar-brand{
  color:black;
}

.navbar, .navbar-brand{
    min-height: 60px;
    background-color: #ffffff;
    color: black;
    border-color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text,
.navbar-inverse .navbar-toggle .icon-bar{
    color: black;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #c4f8fb;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, 

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: #428f54;
    color: black;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: black;
    background-color: rgb(249, 241, 233);
}

.navbar-inverse .navbar-toggle{
  border-color: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: rgba(249, 135, 16, 0.3215686274509804);
  color: black;
}

.navbar-toggle{
  background-color: #ffa549de;
  margin-right: 25px; 
}
.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}
.modal-open[style] {
padding-right: 0px !important;
}

/*.modal-open {
    overflow: visible;
}*/

.form-asterisk {
    font-family: Arial, Helvetica, sans-serif;
    /*position: absolute;*/
    top: -2px;
    font-weight: normal;
    color: red;
}


.text-xs-center{
    text-align: center;
}

.text-md{
    font-size: 17px;
}


.big-checkbox{
    width: 22px;
    height: 22px;
}

.has-error .form-control {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}

.gallery tr:nth-child(odd) td{
    background: rgba(228, 251, 233, 0.39);
}
.gallery tr:nth-child(even) td{
    background: rgba(229, 253, 230, 0.96);
}
.gallery td{
   padding-top: 5px;
   padding-bottom: 5px;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  /*height: 165px;*/
  height: 195px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 100px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}


.action_td{
  width: 10%;
  text-align: center;
}

.spec_time_error, .video_spec_time_error{
  font-weight: bold;
  padding-left: 5px;
  color: red;

}

.margin-top-1{
  margin-top:100px;
}
.margin-top-2{
  margin-top:85px;
}
.margin-top-3{
  margin-top:40px;
}
.margin-top-4{
  margin-top:25px;
}
.margin-top-5{
  margin-top:10px;
}


 #wrapper {
  /*padding-left: 180px;*/
  transition: all 0.4s ease 0s;
  /*max-width: 1064px;*/
}

#sidebar-wrapper {
  margin-left: -250px;
  top: 51px;
  left: 250px;
  width: 180px;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}



#wrapper.active #sidebar-wrapper {
  left: 0;
  width: 50px;
 margin-left: 0px;
}



#wrapper #page-content-wrapper {
  width: auto;
  padding-top: 70px;
  transition: all 0.4s ease 0s;
   margin-left: 0px;
}
#wrapper.active #page-content-wrapper {
  width: auto;
  padding-top: 70px;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  /*text-indent: 10px;*/
}

.sidebar-nav li a {
  color: #f8eded;
  display: block;
  text-decoration: none;
  padding-left: 8px;
  padding-top: 5px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: transparent;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  background: rgba(255, 255, 255, 0);
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
    margin-left: -250px;
  }

  #menu-toggle {
    display: inline-block;
  }

}

.glyphicon.pads{
  padding-right: 15px;
    padding-left: 9px;
}

.modal-header-default{
  background-color: #e08c08;
  color: white;

}
.modal-header-success{
  background-color: #04730d;
  color: white;
}

.modal-header-danger{
  background-color: #b91919;
  color: white;
}


nav ul, nav ol, li{
    list-style: none;
    list-style-image: none;
}

#main-wrapper {
    padding-bottom: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1064px;
}

.wrapper > div {
    padding: 0 10px;
}
@media (min-width: 896px){
    .wrapper > div {
        padding: 0 20px;
    }
}

.no-padding{
  padding: 0px;
  margin: 0px;
}


.copyright{
  font-size: 10px;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}


.main-wrapper.mobile-footer{
  border-top: 3px solid #00bdf4;
  padding-top: 20px;
}

.img-responsive{
      margin: auto;
}

.btn-secondary, .btn-secondary:active {
    background-color: #ff9b3b !important;
    border-color: #ff9b3b !important;
    color: #ffffff !important;
}

.my-3{
  margin-top: 10px;
  margin-bottom: 10px;
}

.py-3{
  padding-top: 10px;
  padding-bottom: 10px;
}

.cartLink{
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 3px;
  margin-right: 15px;
  margin-bottom: 0px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.notification{
  font-size: 9px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 8px;
  margin-left: 22px;
  margin-top: 0px;
  position: fixed;
  top: 10px;
  min-width: 22px;
  min-height: 22px;
  text-align: center;
  line-height: 9px;
}
.alert-success.active, .notification.active {
    display: block;
}
.alert-success, .notification {
    display: none;
}

div.wishCourse {
    box-shadow: 1px 1px 9px 1px rgba(136, 136, 136, 0.72);
    margin-top: 10px;
}

.jack-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.jack-btn.btn-orange {
    background-color: #ff9b3b;
    color: white;
}

.jack-btn.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.jack-btn.btn-orange:hover {
    background-color: #F47B19;
}

.modal-primary, .modal-primary:active {
    background-color: #00bdf4 !important;
    border-color: #00bdf4 !important;
    color: #ffffff !important;
}

.modal-title{
  display: inline-block;
}

.modal-danger, .modal-danger:active {
    background-color: #DB4444 !important;
    border-color: #DB4444 !important;
    color: #ffffff !important;
}