.title{
    text-align: center;
}

.btn.calendarBtn{
    border-radius: 15px;
    background-color: #00bdf4;
    border-color: #00bdf4;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.course-event {
    background-color: rgba(255, 254, 254, 0.79);
    border-radius: 5px;
    box-shadow: 1px 1px 9px 1px rgba(136, 136, 136, 0.72);
    padding: 10px 0px;
    margin: 10px 0px;
    text-align: left;
    color:white;
}

.course-event.yellow{
    background: #f9ca1a;
}

.course-event.green{
    background: #3f9149;
}

.course-event.blue{
    background: #3990c6;
}

.course-event.red{
    background: #e45a58;
}


#programTab.nav-tabs>li>a{
	padding: 6px;
    font-weight: bold;
    color: black;
}

#programTab{
	border-bottom: 2px solid #ff9c34;

}

#programTab.nav-tabs>li.active>a, #programTab.nav-tabs>li.active>a:focus, #programTab.nav-tabs>li.active>a:hover{
	border:none;
	background-color: #ff9c34;
    border: 1px solid #ff9c34;
    color:white;
}

.trackHeader{
	font-weight: bold;
	font-size: 16px;
	color: white;
	margin-top:15px;
}

.trackHeader.computing{
	background-color: #f9ca1a;
}
.trackHeader.thinkering{
	background-color: #3f9149;
}

.trackHeader.appDev{
    background-color: #3990c6;
}
.trackHeader.multimedia{
    background-color: #e45a58;
}


.novice_creative,
.novice_thinkering,
.junior_creative,
.junior_thinkering,
.junior_appDev,
.junior_multimedia,

.master_creative,
.master_thinkering,
.master_appDev,
.master_multimedia{
	display: none;

	text-align: left;

}

.novice_creative.active,
.novice_thinkering.active,

.junior_creative.active,
.junior_thinkering.active,
.junior_appDev.active,
.junior_multimedia.active,


.master_creative.active,
.master_thinkering.active,
.master_appDev.active,
.master_multimedia.active{
	display: block;
}

.noviceCreativeSelectOption,
.noviceThinkerSelectOption,
.juniorCreativeSelectOption,
.juniorThinkerSelectOption,
.juniorAppDevSelectOption,
.juniorMultimediaSelectOption,

.masterCreativeSelectOption,
.masterThinkerSelectOption,
.masterAppDevSelectOption,
.masterMultimediaSelectOption{
    padding: 10px 0px;
}

.line-mentor:before {
    background: url(../images/mobile/LINE_MENTORING.png) no-repeat 0 0px;
    content: '';
    display: inline-block;
    height: 45px;
    width: 190px;
}

.line-mentor.green {
    background-position: 0 0px;
}

.line-mentor.blue:before {
    background-position: 0 -41px;
    height: 33px !important;
}

.line-mentor.red:before {
    background-position: 0 -73px;
    height: 33px !important;
}
.whyJackTitle{
    text-align: center;
    font-weight: bold;
}

.whyJackTitle.green{
    color:#4c874d;
}
.whyJackTitle.blue{
    color:#2fa6e0;
}
.whyJackTitle.red{
    color:#da4443;
}

.saveToCartBtn{
    font-weight: bold;
}
